<%= form_for(@field_mapping) do |f| %>
  <% if @field_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field_mapping.errors.count, "error") %> prohibited this field_mapping from being saved:</h2>

      <ul>
      <% @field_mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :field_id %><br />
    <%= f.text_field :field_id %>
  </div>
  <div class="field">
    <%= f.label :data_source_id %><br />
    <%= f.text_field :data_source_id %>
  </div>
  <div class="field">
    <%= f.label :field_name %><br />
    <%= f.text_field :field_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
