<%= form_for(@data_source) do |f| %>
  <% if @data_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_source.errors.count, "error") %> prohibited this data_source from being saved:</h2>

      <ul>
      <% @data_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :database_type %><br />
    <%= f.text_field :database_type %>
  </div>
  <div class="field">
    <%= f.label :hostname %><br />
    <%= f.text_field :hostname %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
